<div ng-init="vm.init()" ng-controller="dashboardCtrl as vm">
    <div class="col-xs-12 light-bg">
        <!-- begin row -->
        <div class="row">
          <!-- begin summary -->
          <div class="col-xs-12 panel stuck summary radius0 pdb2">
            <section>
              <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="icon bg-grey text-center" ng-bind-html="vm.icons.device"></div>
                <strong>Device Id</strong>  
                <div class="nb fnt12">{{vm.selectedDevice.id.value}}</span>&nbsp;<span ng-if="!vm.selectedDevice"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="icon bg-dark-grey text-center" ng-bind-html="vm.icons.time"></div>
                  <strong>Date & Time</strong>  
                  <div class="nb fnt12">{{vm.selectedDevice.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}<span ng-if="!vm.selectedDevice"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
               </div>
            </section>
        </div>
      </div> 
    </div>
    <div class="col-xs-12 light-bg">
    <div gridster="vm.gridsterOptions" ng-if="vm.selectedDevice != null">
         <ul>
             <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0 , row: 0 }'>
                 <div class="box">
                     <div class="box-content">
                         <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Battery" class="box-label">Battery</div>
                         <div  style="height: calc(100% - 30px)" > 
                             <scriptr-gauge
                                            boxLabel='Battery'
                                            gauge-value='vm.selectedDevice.BAT.value'
                                            value-font-color='#999'
                                            min='0'
                                            max='100'
                                            hide-min-max='false'
                                            hide-value='false'
                                            show-inner-shadow='false'
                                            custom-sectors='{"percents":"false","ranges":[{}]}'
                                            shadow-size='5'
                                            shadow-opacity='0.2'
                                            start-animation-type='bounce'
                                            refresh-animation-type='bounce'
                                            value-font-family='Verdana'
                                            value-min-font-size='8'
                                            label-min-font-size='8'
                                            min-label-min-font-size='8'
                                            max-label-min-font-size='8'
                                            gauge-width-scale='1'
                                            shadow-vertical-offset='3'
                                            level-colors='["#1877dd","#fce94f","#fcaf3e","#ef2929"]'
                                            relative-gauge-size='true'
                                            no-gradient='false'
                                            start-animation-time='700'
                                            refresh-animation-time='700'
                                            donut='false'
                                            donut-start-angle='90'
                                            reverse='false'
                                            decimals='0'
                                            format-number='false'
                                            human-friendly='false'
                                            human-friendly-decimal='0'
                                            pointer='true'
                                            counter='false'
                                            http-method='GET'
                                            symbol=''
                                            on-format-data='vm.luminosityFormatData'
                                            ></scriptr-gauge> 
                         </div>
                     </div>
                 </div>
             </li>
             <li class="myItem" gridster-item='{sizeX: 3, sizeY: 1, col: 1 , row: 0 }'>
                 <div class="box">
                     <div class="box-content">
                         <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Battery" class="box-label">Battery</div>
                         <div  style="height: calc(100% - 30px)" > 
                             <scriptr-chart
                                            type='line'
                                            boxLabel='Battery'
                                            xkey='creationDate'
                                            ykeys='["BAT"]'
                                            labels='["Battery"]'
                                            colors='["#2196F3"]'
                                            transport='wss'
                                            msg-tag='{{vm.msgTag}}'
                                            api="smart-water/api/historicalevents"
                                            api-params="vm.params"
                                            grid-text-family='Verdana'
                                            line-width='3'
                                            point-size='5'
                                            point-stroke-colors='["rgb(46, 47, 44)"]'
                                            ymax='auto'
                                            ymin='auto 0'
                                            smooth='false'
                                            hide-hover='auto'
                                            parse-time='true'
                                            xlabels='auto'
                                            xlabel-angle='0'
                                            goal-stroke-width='1'
                                            goal-line-colors='["#666633","#999966","#cc6666","#663333"]'
                                            event-stroke-width='1'
                                            event-line-colors='["#005a04","#ccffbb","#3a5f0b","#005502"]'
                                            axes='true'
                                            grid='true'
                                            grid-text-color='#1f211d'
                                            grid-text-size='12'
                                            grid-text-weight='normal'
                                            point-fill-colors='["#4550b1"]'
                                            goals='[null]'
                                            events='[null]'
                                            parse-time="true"
                                            on-format-data='vm.historicalFormatData'
                                            ></scriptr-chart>
                         </div>
                     </div>
                 </div>
             </li>
             
             <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0 , row: 1 }'>
                 <div class="box">
                     <div class="box-content">
                         <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Temperature" class="box-label">Temperature</div>
                         <div  style="height: calc(100% - 30px)" > 
                             <scriptr-gauge
                                            boxLabel='Temperature'
                                            value-font-color='#999'
                                            gauge-value='vm.selectedDevice.WT.value'
                                            min='-10'
                                            max='50'
                                            hide-min-max='false'
                                            hide-value='false'
                                            show-inner-shadow='false'
                                            custom-sectors='{"percents":"false","ranges":[{}]}'
                                            shadow-size='5'
                                            shadow-opacity='0.2'
                                            start-animation-type='bounce'
                                            refresh-animation-type='bounce'
                                            value-font-family='Verdana'
                                            value-min-font-size='8'
                                            label-min-font-size='8'
                                            min-label-min-font-size='8'
                                            max-label-min-font-size='8'
                                            gauge-width-scale='1'
                                            shadow-vertical-offset='3'
                                            level-colors='["#1877dd","#fce94f","#fcaf3e","#ef2929"]'
                                            relative-gauge-size='true'
                                            no-gradient='false'
                                            start-animation-time='700'
                                            refresh-animation-time='700'
                                            donut='false'
                                            donut-start-angle='90'
                                            reverse='false'
                                            decimals='0'
                                            format-number='false'
                                            human-friendly='false'
                                            human-friendly-decimal='0'
                                            pointer='true'
                                            counter='false'
                                            on-format-data='vm.temperatureFormatData'
                                            ></scriptr-gauge> 
                         </div>
                     </div>
                 </div>
             </li>
             <li class="myItem" gridster-item='{sizeX: 3, sizeY: 1, col: 1 , row: 1 }'>
                 <div class="box">
                     <div class="box-content">
                         <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Temperature" class="box-label">Temperature</div>
                         <div  style="height: calc(100% - 30px)" > 
                             <scriptr-chart
                                            type='line'
                                            boxLabel='Temperature'
                                            xkey='creationDate'
                                            ykeys='["WT"]'
                                            labels='["Temperature"]'
                                            colors='["#F44336"]'
                                            transport='wss'
                                            msg-tag='{{vm.msgTag}}'
                                            api="smart-water/api/historicalevents"
                                            api-params="vm.params"
                                            grid-text-family='Verdana'
                                            line-width='3'
                                            point-size='5'
                                            point-stroke-colors='["rgb(46, 47, 44)"]'
                                            ymax='auto'
                                            ymin='auto 0'
                                            smooth='false'
                                            hide-hover='auto'
                                            parse-time='true'
                                            xlabels='auto'
                                            xlabel-angle='0'
                                            goal-stroke-width='1'
                                            goal-line-colors='["#666633","#999966","#cc6666","#663333"]'
                                            event-stroke-width='1'
                                            event-line-colors='["#005a04","#ccffbb","#3a5f0b","#005502"]'
                                            axes='true'
                                            grid='true'
                                            grid-text-color='#1f211d'
                                            grid-text-size='12'
                                            grid-text-weight='normal'
                                            point-fill-colors='["#4550b1"]'
                                            goals='[null]'
                                            events='[null]'
                                            parse-time="true"
                                            on-format-data='vm.historicalFormatData'
                                            ></scriptr-chart>
                         </div>
                     </div>
                 </div>
             </li>
             
             <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0 , row: 2 }'>
                 <div class="box">
                     <div class="box-content">
                         <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="PH" class="box-label">PH</div>
                         <div  style="height: calc(100% - 30px)" > 
                             <scriptr-gauge
                                            boxLabel='PH'
                                            gauge-value='vm.selectedDevice.PH.value'
                                            value-font-color='#999'
                                            min='0'
                                            max='100'
                                            hide-min-max='false'
                                            hide-value='false'
                                            show-inner-shadow='false'
                                            custom-sectors='{"percents":"false","ranges":[{}]}'
                                            shadow-size='5'
                                            shadow-opacity='0.2'
                                            start-animation-type='bounce'
                                            refresh-animation-type='bounce'
                                            value-font-family='Verdana'
                                            value-min-font-size='8'
                                            label-min-font-size='8'
                                            min-label-min-font-size='8'
                                            max-label-min-font-size='8'
                                            gauge-width-scale='1'
                                            shadow-vertical-offset='3'
                                            level-colors='["#1877dd","#fce94f","#fcaf3e","#ef2929"]'
                                            relative-gauge-size='true'
                                            no-gradient='false'
                                            start-animation-time='700'
                                            refresh-animation-time='700'
                                            donut='false'
                                            donut-start-angle='90'
                                            reverse='false'
                                            decimals='0'
                                            format-number='false'
                                            human-friendly='false'
                                            human-friendly-decimal='0'
                                            pointer='true'
                                            counter='false'
                                            http-method='GET'
                                            symbol=''
                                            on-format-data='vm.pressureFormatData'
                                            ></scriptr-gauge>
                         </div>
                     </div>
                 </div>
             </li>
             <li class="myItem" gridster-item='{sizeX: 3, sizeY: 1, col: 1 , row: 2 }'>
                <div class="box">
                    <div class="box-content">
                        <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="PH" class="box-label">PH</div>
                        <div  style="height: calc(100% - 30px)" > 
                            <scriptr-chart
                                           type='line'
                                           boxLabel='PH'
                                           xkey='creationDate'
                                           ykeys='[ "PH"]'
                                           labels='[ "PH"]'
                                           colors='["#4CAF50"]'
                                           transport='wss'
                                           msg-tag='{{vm.msgTag}}'
                                           api="smart-water/api/historicalevents"
                                           api-params="vm.params"
                                           grid-text-family='Verdana'
                                           line-width='3'
                                           point-size='5'
                                           point-stroke-colors='["rgb(46, 47, 44)"]'
                                           ymax='auto'
                                           ymin='auto 0'
                                           smooth='false'
                                           hide-hover='auto'
                                           parse-time='true'
                                           xlabels='auto'
                                           xlabel-angle='0'
                                           goal-stroke-width='1'
                                           goal-line-colors='["#666633","#999966","#cc6666","#663333"]'
                                           event-stroke-width='1'
                                           event-line-colors='["#005a04","#ccffbb","#3a5f0b","#005502"]'
                                           axes='true'
                                           grid='true'
                                           grid-text-color='#1f211d'
                                           grid-text-size='12'
                                           grid-text-weight='normal'
                                           point-fill-colors='["#4550b1"]'
                                           goals='[null]'
                                           events='[null]'
                                           parse-time="true"
                                           on-format-data='vm.historicalFormatData'
                                           ></scriptr-chart>
                        </div>
                    </div>
                </div>
            </li>
            
             
             <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0 , row:3 }'>
                 <div class="box">
                     <div class="box-content">
                         <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Water conductivity" class="box-label">Water conductivity</div>
                         <div  style="height: calc(100% - 30px)" > 
                             <scriptr-gauge
                                            boxLabel='Water conductivity'
                                            gauge-value='vm.selectedDevice.COND.value'
                                            value-font-color='#999'
                                            min='0'
                                            max='100'
                                            hide-min-max='false'
                                            hide-value='false'
                                            show-inner-shadow='false'
                                            custom-sectors='{"percents":"false","ranges":[{}]}'
                                            shadow-size='5'
                                            shadow-opacity='0.2'
                                            start-animation-type='bounce'
                                            refresh-animation-type='bounce'
                                            value-font-family='Verdana'
                                            value-min-font-size='8'
                                            label-min-font-size='8'
                                            min-label-min-font-size='8'
                                            max-label-min-font-size='8'
                                            gauge-width-scale='1'
                                            shadow-vertical-offset='3'
                                            level-colors='["#1877dd","#fce94f","#fcaf3e","#ef2929"]'
                                            relative-gauge-size='true'
                                            no-gradient='false'
                                            start-animation-time='700'
                                            refresh-animation-time='700'
                                            donut='false'
                                            donut-start-angle='90'
                                            reverse='false'
                                            decimals='0'
                                            format-number='false'
                                            human-friendly='false'
                                            human-friendly-decimal='0'
                                            pointer='true'
                                            counter='false'
                                            http-method='GET'
                                            symbol=''
                                            on-format-data='vm.pressureFormatData'
                                            ></scriptr-gauge>
                         </div>
                     </div>
                 </div>
             </li>

             <li class="myItem" gridster-item='{sizeX: 3, sizeY: 1, col: 1 , row: 3 }'>
                <div class="box">
                    <div class="box-content">
                        <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Water conductivity" class="box-label">Water conductivity</div>
                        <div  style="height: calc(100% - 30px)" > 
                            <scriptr-chart
                                           type='line'
                                           boxLabel='Water conductivity'
                                           xkey='creationDate'
                                           ykeys='[ "COND"]'
                                           labels='[ "Water conductivity"]'
                                           colors='["#4CAF50"]'
                                           transport='wss'
                                           msg-tag='{{vm.msgTag}}'
                                           api="smart-water/api/historicalevents"
                                           api-params="vm.params"
                                           grid-text-family='Verdana'
                                           line-width='3'
                                           point-size='5'
                                           point-stroke-colors='["rgb(46, 47, 44)"]'
                                           ymax='auto'
                                           ymin='auto 0'
                                           smooth='false'
                                           hide-hover='auto'
                                           parse-time='true'
                                           xlabels='auto'
                                           xlabel-angle='0'
                                           goal-stroke-width='1'
                                           goal-line-colors='["#666633","#999966","#cc6666","#663333"]'
                                           event-stroke-width='1'
                                           event-line-colors='["#005a04","#ccffbb","#3a5f0b","#005502"]'
                                           axes='true'
                                           grid='true'
                                           grid-text-color='#1f211d'
                                           grid-text-size='12'
                                           grid-text-weight='normal'
                                           point-fill-colors='["#4550b1"]'
                                           goals='[null]'
                                           events='[null]'
                                           parse-time="true"
                                           on-format-data='vm.historicalFormatData'
                                           ></scriptr-chart>
                        </div>
                    </div>
                </div>
            </li>

             <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0 , row: 4 }'>
                    <div class="box">
                        <div class="box-content">
                          <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Oxidations Reduction Potencial" class="box-label">Oxidations Reduction Potencial</div>
                          <div  style="height: calc(100% - 30px)" > <scriptr-odometer
										transport='wss'
										boxLabel='Oxidations Reduction Potencial'
										odometer-value='vm.selectedDevice.ORP.value'
										animation='count'
										duration='1000'
										size='2'
                                  		on-format-data='vm.odometerFormatData1'
                           ></scriptr-odometer> </div>
                        </div>
                    </div>
                </li>

                <li class="myItem" gridster-item='{sizeX: 3, sizeY: 1, col: 1 , row: 4 }'>
                    <div class="box">
                        <div class="box-content">
                            <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Oxidations Reduction Potencial" class="box-label">Oxidations Reduction Potencial</div>
                            <div  style="height: calc(100% - 30px)" > 
                                <scriptr-chart
                                               type='line'
                                               boxLabel='Oxidations Reduction Potencial'
                                               xkey='creationDate'
                                               ykeys='[ "ORP"]'
                                               labels='[ "Oxidations Reduction Potencial"]'
                                               colors='["#4CAF50"]'
                                               transport='wss'
                                               msg-tag='{{vm.msgTag}}'
                                               api="smart-water/api/historicalevents"
                                               api-params="vm.params"
                                               grid-text-family='Verdana'
                                               line-width='3'
                                               point-size='5'
                                               point-stroke-colors='["rgb(46, 47, 44)"]'
                                               ymax='auto'
                                               ymin='auto 0'
                                               smooth='false'
                                               hide-hover='auto'
                                               parse-time='true'
                                               xlabels='auto'
                                               xlabel-angle='0'
                                               goal-stroke-width='1'
                                               goal-line-colors='["#666633","#999966","#cc6666","#663333"]'
                                               event-stroke-width='1'
                                               event-line-colors='["#005a04","#ccffbb","#3a5f0b","#005502"]'
                                               axes='true'
                                               grid='true'
                                               grid-text-color='#1f211d'
                                               grid-text-size='12'
                                               grid-text-weight='normal'
                                               point-fill-colors='["#4550b1"]'
                                               goals='[null]'
                                               events='[null]'
                                               parse-time="true"
                                               on-format-data='vm.historicalFormatData'
                                               ></scriptr-chart>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="myItem" gridster-item='{sizeX: 1, sizeY: 1, col: 0 , row: 4 }'>
                    <div class="box">
                        <div class="box-content">
                          <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Disolved oxygen" class="box-label">Disolved oxygen</div>
                          <div  style="height: calc(100% - 30px)" > <scriptr-odometer
										transport='wss'
										boxLabel='Disolved oxygen'
										odometer-value='vm.selectedDevice.DO.value'
										animation='count'
										duration='1000'
										size='2'
                                  		on-format-data='vm.odometerFormatData1'
                           ></scriptr-odometer> </div>
                        </div>
                    </div>
                </li>

                <li class="myItem" gridster-item='{sizeX: 3, sizeY: 1, col: 1 , row: 4 }'>
                    <div class="box">
                        <div class="box-content">
                            <div  style="height: 30px;" tooltip-placement="bottom" uib-tooltip="Disolved oxygen" class="box-label">Disolved oxygen</div>
                            <div  style="height: calc(100% - 30px)" > 
                                <scriptr-chart
                                               type='line'
                                               boxLabel='Disolved oxygen'
                                               xkey='creationDate'
                                               ykeys='[ "DO"]'
                                               labels='[ "Disolved oxygen"]'
                                               colors='["#4CAF50"]'
                                               transport='wss'
                                               msg-tag='{{vm.msgTag}}'
                                               api="smart-water/api/historicalevents"
                                               api-params="vm.params"
                                               grid-text-family='Verdana'
                                               line-width='3'
                                               point-size='5'
                                               point-stroke-colors='["rgb(46, 47, 44)"]'
                                               ymax='auto'
                                               ymin='auto 0'
                                               smooth='false'
                                               hide-hover='auto'
                                               parse-time='true'
                                               xlabels='auto'
                                               xlabel-angle='0'
                                               goal-stroke-width='1'
                                               goal-line-colors='["#666633","#999966","#cc6666","#663333"]'
                                               event-stroke-width='1'
                                               event-line-colors='["#005a04","#ccffbb","#3a5f0b","#005502"]'
                                               axes='true'
                                               grid='true'
                                               grid-text-color='#1f211d'
                                               grid-text-size='12'
                                               grid-text-weight='normal'
                                               point-fill-colors='["#4550b1"]'
                                               goals='[null]'
                                               events='[null]'
                                               parse-time="true"
                                               on-format-data='vm.historicalFormatData'
                                               ></scriptr-chart>
                            </div>
                        </div>
                    </div>
                </li>
         </ul>
    </div>
    </div>
</div>
